# This file contains secrets for external services that are currently run as
# part of test environments. It is used to populate the `.yaml` files in the
# `test/envs/configs` directory, and is loaded by
# `test/envs/scripts/with_test_env.sh` when a test environment is brought up.

GREETING_DEFAULT=Hello
